<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Calendar</title>
  <link rel="stylesheet" type="text/css" href="css/reset.css">
  <link rel="stylesheet" type="text/css" href="css/calendar_style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
</head>
<body>
  <header>
    <h2>JAMES MADISON UNIVERSITY</h2>
  </header>
  <div class="nav_bar">
    <ul>
      <li><a href="index.html">Sign Out</a></li>
    </ul>
  </div>
  <!-- <button onclick="window.location.href='course_list.ejs';" id="back_to_courses">←</button> -->
  <h4 id="eid">Welcome, <%= eid%></h4>
  <p style="display:none;" id="user_role" ><%= role%></p>
  <h1>CS<%=pickedCourse%></h1>
  <section id="page_container">
    <div class="role-1" id="ta_calendar_buttons">
        <button id="add" type="button" onclick="addTATime()">Add</button>
        <button type="button" id="remove" onclick="removeTATimes()">Remove</button>
    </div>
    <div class="role-2" id="admin_calendar_button">
      <button type="button">Approve Cover</button>
    </div>
    <table id="calendar_table">
        <tr>
            <th id="days"></th>
            <!-- Colspan = 2, since 2 TAs can sign up for the same time. -->
            <th colspan="2" class="days">SUN</th>
            <th colspan="2" class="days">MON</th>
            <th colspan="2" class="days">TUE</th>
            <th colspan="2" class="days">WED</th>
            <th colspan="2" class="days">THU</th>
            <th colspan="2" class="days">FRI</th>
            <th colspan="2" class="days">SAT</th>
        </tr>
        <tr>
            <th>5:00</th>
            <td colspan="2"></td>
            <td colspan="2"></td>
            <td colspan="2"></td>
            <td colspan="2"></td>
            <td colspan="2"></td>
            <td colspan="2"></td>
            <td colspan="2"></td>
        </tr>
        <tr>
            <th>6:00</th>
            <td colspan="2"></td>
            <td colspan="2"></td>
            <td colspan="2"></td>
            <td colspan="2"></td>
            <td colspan="2"></td>
            <td colspan="2"></td>
            <td colspan="2"></td>
        </tr>
        <tr>
            <th>7:00</th>
            <td colspan="2"></td>
            <td colspan="2">
                <div class="role-1 times">
                    <button type="button" class="ta_button" onclick="displaySessionCode(event)">TA1</button>
                    <button type="button" class="ta_button" onclick="displaySessionCode(event)">TA2</button>
                </div>
                <div class="role-0 times">
                    <button type="button" class="student_button" onclick="getSessionCode()">7:00-8:00<br>Room 243</button>
                    <button type="button" class="student_button" onclick="getSessionCode()">7:30-8:30<br>Room 243</button>
                </div>
                <div class="role-2 times">
                    <button type="button" class="ta_button" onclick="confirmCover(event)">TA1</button>
                    <button type="button" class="ta_button" onclick="confirmCover(event)">TA2</button>
                </div>
            </td>
            <td colspan="2"></td>
            <td colspan="2"></td>
            <td colspan="2"></td>
            <td colspan="2"></td>
            <td colspan="2"></td>
        </tr>
        <tr>
            <th>8:00</th>
            <td colspan="2"></td>
            <td colspan="2"></td>
            <td colspan="2"></td>
            <td colspan="2"></td>
            <td colspan="2"></td>
            <td colspan="2"></td>
            <td colspan="2"></td>
        </tr>
        <tr>
            <th>9:00</th>
            <td colspan="2"></td>
            <td colspan="2"></td>
            <td colspan="2"></td>
            <td colspan="2"></td>
            <td colspan="2"></td>
            <td colspan="2"></td>
            <td colspan="2"></td>
        </tr>
        <tr>
            <th>10:00</th>
            <td colspan="2"></td>
            <td colspan="2"></td>
            <td colspan="2"></td>
            <td colspan="2"></td>
            <td colspan="2"></td>
            <td colspan="2">
                <div class="role-1 times">
                    <button type="button" class="ta_button" onclick="displaySessionCode(event)">TA3</button>
                </div>
                <div class="role-0 times">
                    <button type="button" class="student_button" onclick="getSessionCode()">10:00-11:00<br>Room 243</button>
                </div>
                <div class="role-2 times">
                    <button type="button" class="ta_button" onclick="confirmCover(event)">TA3</button>
                </div></td>
            <td colspan="2"></td>
        </tr>
        <tr>
            <th>11:00</th>
            <td colspan="2"></td>
            <td colspan="2"></td>
            <td colspan="2"></td>
            <td colspan="2"></td>
            <td colspan="2"></td>
            <td colspan="2"></td>
            <td colspan="2"></td>
        </tr>
    </table>

    <!-- Have this stuff show up from a script only if it checks if they are a student, ta, or professor first -->
    <!-- But since this is the html phase we will leave this all here for now -->

    <!-- If entered page as a student this should be visible.
        And anything with "ta" or "professor" should be removed from page.-->
    <br>
    <br>

    <!-- When the ta chooses a time let them select a start time and end time. -->
    <div style="display:none;" class="role-1" id="select_time">
        <form method="post" action="insertTASlot">
            <label for="start_time">Start Time</label>
            <input type="time" min="17:00" max="23:00" name="start_time">
            <label for="end_time">End Time</label>
            <input type="time" min="17:00" max="23:00" name="end_time">
            <label for="room_number">Room Number</label>
            <input type="text" name="room_number">
            <!-- <input type="submit" value="Confirm"> -->
            <button type="submit" onclick="confirmAddTime()">Confirm</button>
        </form>
    </div>

    <div style="display:none;" class="role-0" id="hidden_session_code">
        <form  action="questions.html">
            <label for="sesion_code">Session Code:</label>
            <input type="text" name="session_code">
            <input type="submit" value="Submit">
        </form>
        <p>Session codes are created by TAs for each session and given to students who show up to TA hours for access to the question forum.</p>
    </div>

    <div style="display:none;" class="role-1" id="hidden_generate_session">
        <form>
            <input type="button" name="generate_code" value="Generate Code" onclick="generateSessionCode()">
            <input type="text" id="code" readonly>
        </form>
        <form id="request_form">
          <input type="checkbox" id="request_cover" value="request" onclick="validateCheck()">Request Cover
          <div id="hidden_accept">
          <label>TA Name:</label>
          <input type="text" id="new_ta_name" placeholder="TA#" required>
          <input type="checkbox" style="display:inline-block;" id="accept_cover" value="accept" onclick="validateCheck()">Accept Cover
          </div>
        </form>
    </div>

    <!-- <footer>
      <img src="https://www.jmu.edu/_images/cise/cise-logo.jpg"
      alt="JMU CISE" height="80" width="200"/>
    </footer> -->
    </section>
    <script src="js/display_by_role.js"></script>
    <script src="js/calendar.js"></script>
</body>
</html>
