<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Course List</title>
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/course_list_style.css">
  </head>
  <body class="courses">
    <header>
      <h2>JAMES MADISON UNIVERSITY</h2>
    </header>
    <div class="nav_bar">
      <ul>
        <li><a href="index.html">Sign Out</a></li>
      </ul>
    </div>
    <h4 id="eid">Welcome, <%= eid%></h4>
    <p style="display:none;" id="user_role" ><%= role%></p>
    <h1>Your Course List</h1>
    <!-- <form action="calendar.html" id="chooseCourse"> -->
      <ul id="picked_courses">
      <!-- <li><button id="CS149" class="course" type="submit">CS149<br><br>Programming Fundamentals</button></li> -->
      </ul>
      <button id="add" type="submit" onclick="showCourses()">+</button>
    <!-- </form> -->
    <div style="display:none;" id="hidden_course_list">
      <h2> Available Courses </h2>
      <ul id="available_courses">
      </ul>
    </div>
    <br>
    <div class="role-2 hidden">
      <button type="button" id="create_course_btn" onclick="displayCreateForm()">Create a Course</button>
      <br>
    </div>
    <br>
    <div id="hidden_create_course_menu" style="display:none;">
      <form action="course_list" method="post">
        <p><input type="text" name="classID" id="class_ID" placeholder="Class ID"></p>
        <p><input type="text" name="className" id="class_name" placeholder="Class Name"></p>
        <p><button type="submit" id="submit_course_info" onclick="displayCreateForm()">Submit</button></p>
      </form>
    </div>
    <footer>
      <img src="https://www.jmu.edu/_images/cise/cise-logo.jpg"
      alt="JMU CISE" height="80" width="200"/>
    </footer>
  </body>
  <script src="js/display_by_role.js"></script>
  <script src="js/course_list.js"></script>
</html>
