<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Questions</title>
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/questions_style.css">

  </head>
  <body>
    <header>
      <h2>JAMES MADISON UNIVERSITY</h2>
    </header>
    <div class="nav_bar">
      <ul>
        <li><a href="course_list.html">Course List</a></li>
        <li><a href="calendar.html">Class Calendar</a></li>
        <li><a href="index.html">Sign Out</a></li>
      </ul>
    </div>
    <h4 id="eid">Welcome, <%= eid%></h4>
    <p style="display:none;" id="user_role" ><%= role%></p>

    <h1>CS<%= pickedCourse%> Question Forum </h1>
    <br>

    <div class="role-0 showing">
      <section>
      <div id="AskQuestion">
        <form action="submitQuestion" method="post">
        <label>Ask a Question</label>
        <input type="text" id="question_string" name="question_string">
        <input type="submit" value="Submit">
        </form>
      </div>
    </div>
      <div id="currQuest">
      <label> Current Question: </label>
      <textarea rows="1" cols="40" id="currentQuestion"></textarea>
      </div>
    <br>

    <div class="role-1 hidden" id="get_next_question">
      <form action="removeTop" method="post">
      <button type="submit">Get Next Question</button>
      </form>
    </div>
    <br>
    <div class="role-0 showing" id="up_next">
      <label> Up Next </label>
    </div>

      <ul id="questionList">
      </ul>
    <br>
    <br>
    <footer>
      <img src="https://www.jmu.edu/_images/cise/cise-logo.jpg"
      alt="JMU CISE" height="80" width="200"/>
    </footer>
    <script src="js/display_by_role.js"></script>
    <script src="js/questions.js"></script>
  </body>
</html>
