<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Questions</title>
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/questions_style.css">

  </head>
  <body>
    <header>
      <h2>JAMES MADISON UNIVERSITY</h2>
    </header>
    <div class="nav_bar">
      <ul>
        <li><a href="course_list.html">Course List</a></li>
        <li><a href="calendar.html">Class Calendar</a></li>
        <li><a href="index.html">Sign Out</a></li>
      </ul>
    </div>
    <!-- Role selector: TEMPORARY -->
    <select name="role" id="role-selector">
        <option value="role-0">Student</option>
        <option value="role-1">TA</option>
        <option value="role-2">Admin</option>
    </select>

    <h1> Question Forum </h1>
    <br>

    <div class="role-0 showing">
      <section>
      <div id="AskQuestion">
        <label>Ask a Question</label>
        <input type="text" id="question_string">
        <input type="submit" value="Submit" onclick="submitQuestion()">
      </div>
    </div>
      <div id="currQuest">
      <label> Current Question: </label>
      <textarea rows="1" cols="40" id="currentQuestion">How do I make a for loop?</textarea>
      </div>
    <br>
    <br>

    <div class="role-1 hidden" id="get_next_question">
      <button type="button" onclick="getNextQuestion()">Get Next Question</button>
    </div>
    <br>
    <div class="role-0 showing" id="up_next">
      <label> Up Next </label>
    </div>

      <ul id="questionList">
        <div><li class = "question_item">Question 1</li><button type="button" class="upvote" onclick="upvote(event)">&#x1F44D; 7</button>
          <button type="button" class="remove" onclick="removeQuestion(event)">Remove</button></div>
        <div><li class = "question_item">Question 2</li><button type="button" class="upvote" onclick="upvote(event)">&#x1F44D; 2</button>
          <button type="button" class="remove" onclick="removeQuestion(event)">Remove</button></div>
      </ul>
    <br>
    <br>
    <footer>
      <img src="https://www.jmu.edu/_images/cise/cise-logo.jpg"
      alt="JMU CISE" height="80" width="200"/>
    </footer>
    <script src="js/display_by_role.js"></script>
    <script src="js/questions.js"></script>
  </body>
</html>
