.nav_bar {
  font-family: "Lucida Sans Unicode";
  padding: 5px;
  text-align: center;
  background: #dfd2aa;
  margin-top: -20px;
  font-size: 12pt;
}

.nav_bar li {
  padding: 2px;
}

header {
  margin-top: -20px;
  background: #450084;
  text-align: center;
  color: white;
  line-height: normal;
}

h1,h2, h4 {
  font-family: "Lucida Sans Unicode";
  text-align: center;
}

.courses {
  text-align: center;
}

.course, #add {
  font-size: 18px;
  cursor: pointer;
  font-family: "Lucida Sans Unicode";
  border-style: solid;
  border-radius: 5px;
}

#add {
  background-color: #450084;
  color: white;
  border: none;
  padding: 10px;
  margin-top: 5px;
  vertical-align: top;
}

.course {
  padding: 30px;
  background: linear-gradient(
    to bottom,
    #CBB677 0%,
    #CBB677 55%,
    #ffffff 55%,
    #ffffff 100%
  );
}

li {
  display: inline-block;
  padding: 5px;
}

#picked_courses {
  display: inline-block;
}

#create_course_btn, #submit_course_info {
  padding: 10px;
  background-color: #450084;
  color: white;
  font-size: 11pt;
  border: none;
  cursor: pointer;
}

#hidden_create_course_menu input {
  margin: 5px;
  padding: 5px;
  height: 30px;
  width: 300px;
  border: none;
  background-color: #e8e8e8;
}

.hidden {
  display: none;
}

.showing {
  display: inherit;
}

footer {
  position: absolute;
  left: 0;
  bottom: 0px;
  height: 4.5rem;
  width: 100%;
  text-align: center;
  overflow: inherit;
  background-color: #d4d7db;
  padding-bottom: 10px;
}
